pywin32==306
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
xgboost==2.0.3
scipy==1.17.1
scikit-learn==1.4.2
elevenlabs==1.3.0
anthropic==0.25.8
httpx==0.27.2
PyQt6==6.7.1
keyboard==0.13.5
pyqtgraph==0.14.0
sounddevice==0.5.5
cffi==2.0.0
pycparser==3.0
